<div class="container">
<h1>Nitrox#index</h1>
<p>The nitrox page is work in progress 10 aug 2015</p>
</div>

<div class="container">
<table class="table table-striped">
<tr>
  <div class="row">
    <td><div class="col-sm-3">Depth</div></td>
    <td><div class="col-sm-6">
      <div class="form-group">
        <label for="usr"></label>
        <input type="text" class="form-control" id="depth" value="20">
      </div>
    </div></td>
    <td><div class="col-sm-3">m</div></td>
  </div>
</tr>
<tr>
  <div class="row">
  <td><div class="col-sm-3">Oxygen Concentration Percent</div></td>
    <td><div class="col-sm-6">
      <div class="form-group">
        <label for="usr"></label>
        <input type="text" class="form-control" id="oxyconc" value="21">
      </div>
    </div></td>
    <td><div class="col-sm-3">L/min</div></td>
  </div>
</tr>
<tr>
  <div class="row">
    <td><div class="col-sm-3">
      <button class="btn btn-sucess" id="calcBtn2" type="submit">Calculate</button>
    </div></td>
    <td><div class="col-sm-6" id="mod1">press calculate!
    </div></td>
    <td><div class="col-sm-3">MOD</div></td>
  </div>
</tr>
</table>
</div>