<head>
  <title></title>
  <script src="../assets/calculationsn.js"></script>
</head>

<div class="container">
<h1>Scuba Dive Nitrox Calculator</h1>
<p>The nitrox page is work in progress 22 oct 2015</p>
<p><b>DO NOT USE</b></p>

<table class="table table-striped">
<tr>
  <div class="row">
    <td><div class="col-sm-3">Depth</div></td>
    <td><div class="col-sm-6">
      <div class="form-group">
        <label for="usr"></label>
        <input type="text" class="form-control" id="depth" value="20">
      </div>
    </div></td>
    <td><div class="col-sm-3">Metres</div></td>
  </div>
</tr>
<tr>
  <div class="row">
  <td><div class="col-sm-3">Oxygen Concentration Percent</div></td>
    <td><div class="col-sm-6">
      <div class="form-group">
        <label for="usr"></label>
        <input type="text" class="form-control" id="oxyconc" value="21">
      </div>
    </div></td>
    <td><div class="col-sm-3">Percent %</div></td>
  </div>
</tr>
<tr>
  <div class="row">
    <td><div class="col-sm-3">
      <button class="btn btn-sucess" id="calcBtn2" type="submit">Calculate</button>
    </div></td>
    <td><div class="col-sm-6" id="mod1">press calculate!
    </div></td>
    <td><div class="col-sm-3">MOD (metres)</div></td>
  </div>
</tr>
<tr>
  <div class="row">
    <td><div class="col-sm-3">
    </div></td>
    <td><div class="col-sm-6" id="ppo2">press calculate!
    </div></td>
    <td><div class="col-sm-3">ppO2 (Bar) More than 1.4 is not recommended.</div></td>
  </div>
</tr>


</table>
</div>
</html>