<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%=stylesheet_link_tag "application" %>
  <link rel="shortcut icon" href="diver_diving_scuba.ico">
</head>
<body>
<div class="container">
<div class="page-header">
<h1>Scuba Dive Air Calculator</h1>
</div>
<h2>THIS IS WORK IN PROGRESS DO NOT USE 10 aug 2015</h2>
<table class="table table-striped">
<tbody>
<tr>
<div class="row">
  <td><div class="col-sm-3">Standard Air Comsumption</div></td>
  <td><div class="col-sm-6">
    <div class="form-group">
      <label for="usr"></label>
      <input type="text" class="form-control" id="sac">
    </div>
  </div></td>
  <td><div class="col-sm-3">L/min</div></td>
</div>
</tr>
<tr>
<div class="row">
  <td><div class="col-sm-3">Depth</div></td>
  <td><div class="col-sm-6">
    <div class="form-group">
      <label for="usr"></label>
      <input type="text" class="form-control" id="depth">
    </div>
  </div></td>
  <td><div class="col-sm-3">m</div></td>
</div>
</tr>
<div class="row">
  <td><div class="col-sm-3">Duration</div></td>
  <td><div class="col-sm-6">
    <div class="form-group">
      <label for="usr"></label>
      <input type="text" class="form-control" id="duration">
    </div>
  </div></td>
  <td><div class="col-sm-3">min</div></td>
</div>
<tr>
<div class="row">
  <td><div class="col-sm-3">
    <button class="btn btn-sucess" id="calcBtn" type="submit">Calculate</button>
  </div></td>
  <td><div class="col-sm-6" id="consumption1">press calculate!
  </div></td>
  <td><div class="col-sm-3">Actual Litres Required</div></td>
</div>
</tr>
<div class="row">
  <td><div class="col-sm-3"></div></td>
  <td><div class="col-sm-6" id="consumption2">press calculate!</div></td>
  <td><div class="col-sm-3">Litres Required at 232 Bar</div></td>
</div>
</tr>
</tr>
<div class="row">
  <td><div class="col-sm-3"></div></td>
  <td><div class="col-sm-6" id="ppress">press calculate!</div></td>
  <td><div class="col-sm-3">Partial Pressure O2, BarA</div></td>
</div>
</tr>

</tbody>
</table>



</div>
</body>