<div class="container">
<div class="page-header">
<h1>About the Scuba Dive Air Calculator</h1>
</div>
<h3>Planning Your Dive</h3>
<p>This is a handy calculator for air planning during your dive.</p>
<p class="bg-warning">  Please do a backup manual calculation to check when you have planned your dive, do not rely on on-line tools!</p>
<h3>Effect of Depth on Air Consumption</h3>
<p>As you go deeper, the air you breath is more compressed.  For example, at 10 metres, the pressure is twice that at the surface, so if you breath 15 litres per minute at the surface you will breath 15 litres per minute at 10 metres but you are breathing what is 30 litres at the surface in a minute.</p>
<p>The calculation is done by simply multiplying the air consumption rate by the time, and making an adjustment for depth.</p>
<h3>Effect of Depth on Partial Pressure of Oxygen</h3>
<p>Air contains about 21% oxygen.  At the surface where the atmospheric pressure is about 1 bar (actually is is usually around 1.01325 bar) the partial pressure is about 0.2 bar i.e. 21% of 1 bar.<br/>As you go deeper and the pressure increases, say to 2 bar at about 10 metres, the partial pressure increases also, to around 0.4 bar. <br/>It is generally accepted that you should not exceed about 1.4 bar partial pressure of oxygen to avoid oxygen toxicity.  This occurs at around 50 metres on air and shallower on Nitrox.</p>
<h3>Nitrox</h3>
<p>Nitrox is air enriched with oxygen.  The main advantage is that the extra oxygen displaced nitrogen in the mix, reducing the effects of nitrogen narcosis and reducing the amount of nitrogen absorbed during the dive and hence reducing the potential for decompression sickness and reducing decompression times.  The disadvantage is that oxygen itself can be toxic so it has to be carefully planned and managed.</p>
<h4>Author></h4>
<p>Written by Spencer M</p>
</div>