<div class="container">
<div class="page-header">
<h1>About the Scuba Dive Air Calculator</h1>
</div>
<p>This is a handy calculator for air planning during your dive.</p>
<p class="bg-warning">  Please do a backup manual calculation to check when you have planned your dive, do not rely on on-line tools!</p>
<p>As you go deeper, the air you breath is more compressed.  For example, at 10 metres, the pressure is twice that at the surface, so if you breath 15 litres per minute at the surface you will breath 15 litres per minute at 10 metres but you are breathing what is 30 litres at the surface in a minute.</p>
<p>Air contains about 21% oxygen.  At the surface where the atmospheric pressure is about 1 bar (actually is is usually around 1.01325 bar) the partial pressure is about 0.2 bar i.e. 21% of 1 bar.<br/>As you go deeper and the pressure increases, say to 2 bar at about 10 metres, the partial pressure increases also, to around 0.4 bar. <br/>It is generally accepted that you should not exceed about 1.4 bar partial pressure of oxygen.  This occurs at around 50 metres on air and shallower on Nitrox.</p>
<p>Written by Spencer M</p>
</div>